body {
    margin-top: 1em;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    background-color: cornsilk;
}

h1 {
    text-align: center;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: darkgreen;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    text-align: center;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav>li {
    display: inline-block;
    float: none;
}

.ul-about {
    margin-left: 200px;
}

p {
    text-align: center;
    font-size: 25px;
}

a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.form-group {
    width: 40%;
    margin: 0 auto !important;
}

.btn {
    margin: 0 auto !important;
}

.table {
    width: 50%;
    margin: 0 auto !important;
}

.authors-list {
    justify-content: center;
}

.add {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    color:indigo;
}

.alert {
    text-align: center;
    font-size: 20px;
}

.error {
    color: red;
}

.input-group {
    width: 50%;
    margin: 0 auto !important;
}

.form-select{
    width:65%;
    float:left;
}

.select-book-author{
    width:100%;
}

.sort-button{
    width:30%;
    float:left;
}

.row{
    width:50%;
    margin: 0 auto !important;
}

.profile-link{
    font-size: 25px;
}