{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{%  block body %}

        <pre>
            {#{dump (current_user) }}
            {{dump (current_user.role) }#}
        </pre>

    <h1>Authors</h1>

    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            {% if current_user.role is same as "librarian" %}
                <th>Edit</th>
                <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        <pre>
            {#{dump(authors)}#}
        </pre>

       {% if authors %}
             {% for author in authors %}
                <tr>
                    <td>{{ author.name }}</td>
                    <td>{{ author.surname }}</td>
                    {% if current_user.role is same as "librarian" %}
                        <td>
                            <a href="http://localhost/PHP/lbm2/public/authors/{{ author.author_id}}/edit">EDIT</a>
                        </td>
                        <td>
                            <a href="http://localhost/PHP/lbm2/public/authors/{{ author.author_id}}/delete">DELETE</a>
                        </td>
                      {% endif %}
                </tr>
            {% endfor %}
          {% endif %}
    </tbody>
</table>
{% if current_user.role is same as "librarian" %}
    <a href="http://localhost/PHP/lbm2/public/authors/new">Add a new author</a>
{% endif %}


{% endblock %}