{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{% block body %}
<h1>Authors</h1>

{% if current_user.role is same as "librarian" %}
<div class="add">
    <a href="http://localhost/PHP/lbm2/public/authors/new">Add a new author</a>
</div>
<br>
{% endif %}

<table class="table table-striped w-auto">
    <thead>
        <tr class="table-secondary">
            <th>Name</th>
            <th>Surname</th>
            {% if current_user.role is same as "librarian" %}
            <th>Edit</th>
            <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% if authors %}
        {% for author in authors %}
        <tr class="table-secondary">
            <td class="table-secondary">{{ author.name }}</td>
            <td class="table-secondary">{{ author.surname }}</td>
            {% if current_user.role is same as "librarian" %}
            <td class="table-secondary">
                <a href="http://localhost/PHP/lbm2/public/authors/{{ author.author_id}}/edit">EDIT</a>
            </td>
            <td class="table-secondary">
                <a class="link-danger"
                    href="http://localhost/PHP/lbm2/public/authors/{{ author.author_id}}/delete">DELETE</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{{ pagination_links|raw }}

{% endblock %}