{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{%  block body %}

    <h1>Add a new author</h1>

{% if author.errors %}

    <p>Errors</p>
    <ul>
        {% for error in author.errors %}
            <li>{{ error }}</li>
        {% endfor %}
{% endif %}

    </ul>
    <form method="post" action="http://localhost/PHP/lbm2/public/authors/create">

        <div>
            <label for="authorName">Name</label>
            <input id="authorName" name="name" placeholder="Name" value={{ author.name}}>
        </div>

        <div>
            <label for="authorSurname">Surname</label>
            <input id="authorSurname" name="surname" placeholder="Surname" value={{ author.surname}}>
        </div>

        <button type="submit">Add</button>
        <a href="http://localhost/PHP/lbm2/public/authors/new">Cancel</a>
    </form>

{% endblock %}