{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome</h1>

    {% if current_user %}
       Hello {{ current_user.name }}.
    {% endif %}

    <h2>Newest Books in Our Library</h2>

    <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Available</th>
            <th>Borrowed</th>
            {% if current_user.role is same as "librarian" %}
                <th>Edit</th>
                <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if new_books %}
            {% for book in new_books %}
                <tr>
                    <td> {{ book.title}}</td>
                    <td> {{book.name }} {{ book.surname}}</td>
                    <td> {{book.genre}}</td>
                    <td> {{book.available}}</td>
                    <td> {{book.borrowed}}</td>
            {% if current_user.role is same as "librarian" %}
                        <td>
                            <a href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/edit">EDIT</a>
                        </td>
                        <td>
                            <a href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/delete">DELETE</a>
                        </td>
                     {% endif %}
                </tr>
            {% endfor %}
         {% endif %}
    </tbody>
</table>

{% endblock %}