{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<br>
<h2>Newest Books in Our Library</h2>
<br>
<table class="table table-striped w-auto">
    <thead>
        <tr class="table-primary">
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Available</th>
            <th>Borrowed</th>
            {% if current_user.role is same as "librarian" %}
                <th>Edit</th>
                <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if new_books %}
            {% for book in new_books %}
            <tr class="table-primary">
                    <td class="table-primary"> {{ book.title}}</td>
                    <td class="table-primary"> {{book.name }} {{ book.surname}}</td>
                    <td class="table-primary"> {{book.genre}}</td>
                    <td class="table-primary"> {{book.available}}</td>
                    <td class="table-primary"> {{book.borrowed}}</td>
            {% if current_user.role is same as "librarian" %}
                        <td class="table-info">
                            <a href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/edit">EDIT</a>
                        </td>
                        <td class="table-info">
                            <a class="link-danger" href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/delete">DELETE</a>
                        </td>
                     {% endif %}
                </tr>
            {% endfor %}
         {% endif %}
    </tbody>
</table>

{% endblock %}