{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block body %}

<h2>Books</h2>

<form action="http://localhost/PHP/lbm2/public/books/search">

    <div class="input-group">
        <input class="form-control rounded" type="search" name="search"
            placeholder="Search for a book (enter a book title or author name)" aria-label="Search"
            aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
</form>

<table class="table table-striped w-auto">
    <thead>
        <tr class="table-danger">
            <form action="http://localhost/PHP/lbm2/public/books/sort">
                <div class="form-group">
                    <br>
                    <select class="form-select" name="sort" id="sort" aria-label="Sort by:">
                        <option value="default">Sort by</option>
                        <option value="title">Title</option>
                        <option value="surname">Author</option>
                        <option value="genre">Genre</option>
                        <option value="available">Available</option>
                        <option value="borrowed">Borrowed</option>
                    </select>

                    <button type="submit" class="btn btn-primary sort-button">Sort</button>
                </div>
            </form>

            {% if current_user.role is same as "librarian" %}
            <div class="form-group">
                <a class="add" href="http://localhost/PHP/lbm2/public/books/new">Add a new book</a>
            </div>
            {% endif %}
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Available</th>
            <th>Borrowed</th>
            {% if current_user.role is same as "reader" %}
            <th>Borrow</th>
            {% endif %}

            {% if current_user.role is same as "librarian" %}
            <th>Edit</th>
            <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if books %}
        {% for book in books %}
        <tr>
            <td class="table-danger"> {{book.title}}</td>
            <td class="table-danger"> {{book.name }} {{ book.surname}}</td>
            <td class="table-danger"> {{book.genre}}</td>
            <td class="table-danger"> {{book.available}}</td>
            <td class="table-danger"> {{book.borrowed}}</td>

            <td class="table-danger">
                {% if current_user.role is same as "reader" and book.available > 0 %}
                <a class="link-primary"
                    href="http://localhost/PHP/lbm2/public/profile/{{book.book_id}}/borrow">Borrow</a>
            </td>
            {% endif %}

            {% if current_user.role is same as "librarian" %}
            <td class="table-danger">
                <a href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/edit">EDIT</a>
            </td>
            <td class="table-danger">
                <a class="link-danger" href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/delete">DELETE</a>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{{ pagination_links|raw }}
</body>

</html>

{% endblock %}