{% extends "base.html" %}

{% block title %}Books{% endblock %}

{%  block body %}

<h1>Books</h1>

<form action="http://localhost/PHP/lbm2/public/books/search">
    <input type="text" name="search" placeholder="Search for a book (enter a title or author)">
    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>Sort by:
            <form action="http://localhost/PHP/lbm2/public/books/sort">
                <select name="sort" id="sort">
                    <option value="title">Title</option>
                    <option value="surname">Author</option>
                    <option value="genre">Genre</option>
                    <option value="available">Available</option>
                    <option value="borrowed">Borrowed</option>
                </select>
                <button type="submit">Sort</button>
            </form>

        </tr>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Available</th>
            <th>Borrowed</th>
            {% if current_user.role is same as "librarian" %}
                <th>Edit</th>
                <th>Delete</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if books %}
            {% for book in books %}
                <tr>
                    <td> {{ book.title}}</td>
                    <td> {{book.name }} {{ book.surname}}</td>
                    <td> {{book.genre}}</td>
                    <td> {{book.available}}</td>
                    <td> {{book.borrowed}}</td>
            {% if current_user.role is same as "librarian" %}
                        <td>
                            <a href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/edit">EDIT</a>
                        </td>
                        <td>
                            <a href="http://localhost/PHP/lbm2/public/books/{{book.book_id}}/delete">DELETE</a>
                        </td>
                     {% endif %}
                </tr>
            {% endfor %}
         {% endif %}
    </tbody>
</table>
{% if current_user.role is same as "librarian" %}
    <a href="http://localhost/PHP/lbm2/public/books/new">Add a new book</a>
 {% endif %}
</body>

</html>

{% endblock %}