{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block body %}

<h1>Add a new book</h1>

{% if book.errors %}
<div class="form-group">
    <p class="error">Errors</p>
    <ul>
        {% for error in book.errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
        {% endif %}
    </ul>
</div>
</ul>

<form method="post" action="http://localhost/PHP/lbm2/public/books/create">

    <div class="form-group">
        <label for="bookTitle">Title</label>
        <input class="form-control" id="bookTitle" name="title" placeholder="Title" value="{{ book.title }}">
    </div>

    <div class="form-group">
        <label for="bookAuthor">Author</label>
        <select class="form-select select-book-author" name="author_id" id="author_id">
            <option value="default"><b>Select the author</b></option>
            {% if authors %}
            {% for author in authors %}
            <option value="{{author.author_id}}">
                {{author.surname}} {{author.name}}
            </option>
            {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="form-group">
        <label for="bookGenre">Genre</label>
        <input class="form-control" id="bookGenre" name="genre" placeholder="Genre" value="{{book.genre}}">
    </div>

    <div class="form-group">
        <label for="bookAvailable">Available</label>
        <input class="form-control" id="bookAvailable" name="available" placeholder="Available"
            value="{{book.available}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="http://localhost/PHP/lbm2/public/books/new">Cancel</a>
    </div>

</form>

{% endblock %}