<nav>
        <ul>
            <li><a href="http://localhost/PHP/Other/MVC/public/">Home</a></li>
            <li><a href="http://localhost/PHP/Other/MVC/public/posts">Posts</a></li>
            <li><a href="http://localhost/PHP/Other/MVC/public/authors/index">Authors</a></li>
            <li><a href="http://localhost/PHP/Other/MVC/public/books/index">Books</a></li>
            <li><a href="http://localhost/PHP/Other/MVC/public/login">Login</a></li>
            <li><a href="http://localhost/PHP/Other/MVC/public/logout">Logout</a></li>
            <li><a href="http://localhost/PHP/Other/MVC/public/profile/show">Profile</a></li>
            <li><a href="http://localhost/PHP/Other/MVC/public/signup/new">Sign Up</a></li>
            <li><a href="">About the project</a></li>
        </ul>
    </nav>