{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

<h1>Edit Profile</h1>

{% if user.errors %}
<div class="form-group">
    <p class="error">Errors</p>
    <ul>
        {% for error in user.errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="http://localhost/PHP/lbm2/public/profile/update">

    <div class="form-group">
        <label for="inputName">Name</label>
        <input class="form-control" id="inputName" name="name" placeholder="Name" value={{ user.name }}>
    </div>

    <div class="form-group">
        <label for="inputSurame">Surname</label>
        <input class="form-control" id="inputSurame" name="surname" placeholder="Surname" value={{ user.surname }}>
    </div>

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input class="form-control" id="inputEmail" name="email" placeholder="email address" value={{ user.email }}>
    </div>

    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input class="form-control" type="password" id="inputPassword" name="password"
            placeholder="Leave field empty to keep the current password">
    </div>

    <div class="form-group">
        <label for="inputPasswordConfirmation">Repeat password</label>
        <input class="form-control" type="password" id="inputPasswordConfirmation" name="password_confirmation"
            placeholder="Leave field  empty to keep the current password">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="http://localhost/PHP/lbm2/public/profile/show">Cancel</a>
    </div>

</form>

{% endblock %}