{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<h2>Profile</h2>

<dl class="row">
    <dt class="col-sm-5">Name</dt>
    <dd class="col-sm-5">{{ user.name }}</dd>

    <dt class="col-sm-5">Surname</dt>
    <dd class="col-sm-5">{{ user.surname }}</dd>

    <dt class="col-sm-5">Role</dt>
    <dd class="col-sm-5">{{ user.role }}</dd>

    <dt class="col-sm-5">Email</dt>
    <dd class="col-sm-5">{{ user.email }}</dd>
</dl>

<div class="row">
    <a class="col-sm-5 profile-link" href="http://localhost/PHP/lbm2/public/profile/edit">Edit</a>
    <a class="col-sm-5 link-danger profile-link" href="http://localhost/PHP/lbm2/public/profile/delete">Delete</a>
</div>
{% endblock %}