{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{%  block body %}

    <h1>Profile</h1>

    <dl class="row">    
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ user.name }}</dd>

        <dt class="col-sm-3">Surname</dt>
        <dd class="col-sm-9">{{ user.surname }}</dd>

        <dt class="col-sm-3">Role</dt>
        <dd class="col-sm-9">{{ user.role }}</dd>

        <dt class="col-sm-3">Esmail</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>
    </dl>
<a href="http://localhost/PHP/lbm2/public/profile/edit">Edit</a>
<a href="http://localhost/PHP/lbm2/public/profile/delete">Delete</a>
{% endblock %}