{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<h2>Profile</h2>

<dl class="row">
    <dt class="col-sm-5">Name</dt>
    <dd class="col-sm-5">{{ user.name }}</dd>

    <dt class="col-sm-5">Surname</dt>
    <dd class="col-sm-5">{{ user.surname }}</dd>

    <dt class="col-sm-5">Role</dt>
    <dd class="col-sm-5">{{ user.role }}</dd>

    <dt class="col-sm-5">Email</dt>
    <dd class="col-sm-5">{{ user.email }}</dd>

</dl>
{% if current_user.role is same as "reader" %}

<div class="row">
    <a class="col-sm-5 profile-link" href="http://localhost/PHP/lbm2/public/profile/edit">Edit Profile</a>
    <a class="col-sm-5 link-danger profile-link" href="http://localhost/PHP/lbm2/public/profile/delete">Delete
        Profile</a>
</div>

<h2>Borrowed Books</h2>

<table class="table table-striped w-auto">
    <thead>
        <tr class="table-secondary">
            <th>Title</th>
            <th>Author</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
            <th>Return Book</th>
        </tr>
    </thead>
    <tbody>

        {% if user_books %}
        {% for user_book in user_books %}
        <tr class="table-secondary">
            <td class="table-secondary">{{ user_book.title }}</td>
            <td class="table-secondary">{{ user_book.name }} {{ user_book.surname }}</td>
            <td class="table-secondary">{{ user_book.borrow_date }}</td>
            <td class="table-secondary">{{ user_book.return_date }}</td>
            <td class="table-secondary">
                <a href="http://localhost/PHP/lbm2/public/books/{{ book.book_id}}/return">RETURN</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}

{% endblock %}